@model AppTerceira.Models.Fisica

@{
    ViewBag.Title = "Home Page";
}

<main arial-labelledby="title">
    <h2>Id: @Model.Id</h2>
    <h2>Nome: @Model.Nome</h2>
    <h2>Sexo: @Model.Sexo</h2>
    <h2>CPF: @Model.Cpf</h2> 
    <h2>RG: @Model.RG-@Model.Dig_RG</h2>
</main>